################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/ATA.Library.Client.Dto/bin/Debug/netstandard2.0
