
<div class="book-wrapper">
    <a href="@($"book-detail/{BookDto.Id}/{BookDto.Title?.Replace(" ", "-")}")">
        <img src="@_coverImageUrl" alt="@BookDto.Title" />
        <div>
            <p class="book-title">
                @BookDto.Title
            </p>
        </div>
    </a>
</div>
