
<div class="book-wrapper">
    <a href="@($"book-detail/{BookDto.Id}/{BookDto.Title?.Replace(" ", "-")}")">
        <img src="@_coverImageUrl" alt="@BookDto.Title" />
        <div>
            <p class="book-title">
                @BookDto.Title
            </p>
        </div>
    </a>
    <div class="management-buttons">
        <button type="button" class="btn btn-outline-primary" @onclick="EditBook"> ویرایش</button>
        <button type="button" class="btn btn-outline-danger" @onclick="DeleteBook"> حذف</button>
    </div>

</div>
