
<h6>
    @ConfirmationMessage
</h6>

<div class="buttons-wrapper">
    <button type="button" @onclick="OnConfirm" class="btn btn-primary confirm-button"> تایید </button>

    <button type="button" @onclick="OnCancel" class="btn btn-warning"> بازگشت </button>
</div>