<div style="direction: ltr; font-family: roboto, iranyekan;height: 70vh; display: flex;justify-content: center;align-items: center;">
    <div style="text-align: center">
        <i class="fa fa-spinner"></i>
        <span>Loading... </span>
    </div>
</div>
