@using ATA.Library.Shared.Core
@inherits LayoutComponentBase

<BlazoredToasts />

<div class="page">

    <NavMenu />

    <div class="main">
        <div class="top-row">
            <TopNavBar />
        </div>

        <div class="content inner-content">
            <div id="inside-content" data-ng-controller="playerController" class="ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">کتابخانه مجازی آتا</h3>
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private string _personnelCode;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;

        var userPersonnelCodeClaim = authState.User.Claims.Single(c => c.Type == AppStrings.Claims.PersonnelCode);

        _personnelCode = userPersonnelCodeClaim.Value;
    }
}
