@inherits LayoutComponentBase

<BlazoredToasts />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="top-row-right-links">
                <span href="book-form" class="ml-md-auto">
                    فرشاد داودی / ش.پ: 980923
                </span>
            </div>
            <div class="top-row-left-links">
                <a href="book-form" class="ml-md-auto">افزودن کتاب</a>
                <a href="categories" class="ml-md-auto">مدیریت دسته‌ها</a>
                <a href="http://blazor.net" class="ml-md-auto">خروج </a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
