@inherits LayoutComponentBase

<BlazoredToasts />

<div class="page">

    <NavMenu />

    <div class="main">
        <div class="top-row">
            <TopNavBar />
        </div>

        <div class="content inner-content">
            <div id="inside-content" data-ng-controller="playerController" class="ng-scope">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 id="ata-layout-box-title" class="box-title">
                                @AppStrings.AppPersianFullName
                            </h3>
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

