@using ATA.Library.Shared.Core
@inherits LayoutComponentBase

<BlazoredToasts />

<div class="page">

    <NavMenu />

    <div class="main">
        <div class="top-row px-4">
            <div class="top-row-right-links">
                <span href="book-form" class="ml-md-auto">
                    <AuthorizeView>
                        @($"{context.User.Identity!.Name} / ش.پ: {_personnelCode}")
                    </AuthorizeView>
                </span>
            </div>
            <div class="top-row-left-links">
                <AuthorizeView Roles="@AppStrings.Claims.Administrator">
                    <a href="book-form" class="ml-md-auto">افزودن کتاب</a>
                    <a href="categories" class="ml-md-auto">مدیریت دسته‌ها</a>
                </AuthorizeView>
                <a href="http://blazor.net" class="ml-md-auto">خروج </a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private string _personnelCode;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;

        var userPersonnelCodeClaim = authState.User.Claims.Single(c => c.Type == AppStrings.Claims.PersonnelCode);

        _personnelCode = userPersonnelCodeClaim.Value;
    }
}
