<div class="navbar-default sidebar " role="navigation">
    <div class="top-left-part hidden-sm hidden-xs">
        <a class="logo" href="http://home.ataair.ir">
            <b><img src="/images/ata-layout/eliteadmin-logo-dark.png" alt="home"></b>
            <span class="hidden-xs">
                <img src="/images/ata-layout/logo-text-dark.png" alt="home">
            </span>
        </a>
    </div>
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">


            <li class="sidenav-item">
                <NavLink class="waves-effect" href="/books">
                    <i class="fas fa-books"></i>
                    <span class="hide-menu">لیست کتاب‌ها</span>
                </NavLink>
            </li>

            <li class="sidenav-item">
                <NavLink class="waves-effect" href="http://home.ataair.ir">
                    <i class="fas fa-plane"></i>
                    <span class="hide-menu">پرتال آتـا</span>
                </NavLink>
            </li>

            <AuthorizeView Roles="@AppStrings.Claims.Administrator">

                <li class="sidenav-item">
                    <NavLink class="waves-effect" href="/categories" Match="NavLinkMatch.All">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">مدیریت دسته‌ها</span>
                    </NavLink>
                </li>

            </AuthorizeView>

            @if (!string.IsNullOrWhiteSpace(_categoriesAdminRoles))
            {
                <AuthorizeView Roles="@_categoriesAdminRoles">
                    <li class="sidenav-item">
                        <NavLink class="waves-effect" href="/book-form" Match="NavLinkMatch.All">
                            <i class="fas fa-plus"></i>
                            <span class="hide-menu">افزودن کتاب</span>
                        </NavLink>
                    </li>
                </AuthorizeView>
            }
        </ul>
    </div>
</div>