<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
	<DeleteExistingFiles>True</DeleteExistingFiles>
	<ExcludeApp_Data>False</ExcludeApp_Data>
	<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
	<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
	<LastUsedPlatform>Any CPU</LastUsedPlatform>
	<PublishProvider>FileSystem</PublishProvider>
	<PublishUrl>C:\Users\lenovo\Desktop\Publish</PublishUrl>
	<WebPublishMethod>FileSystem</WebPublishMethod>
	<SiteUrlToLaunchAfterPublish />
	<TargetFramework>net5.0</TargetFramework>
	<ProjectGuid>a049817c-87a8-4fbb-a8e4-1786a17627a2</ProjectGuid>
	<SelfContained>false</SelfContained>
  </PropertyGroup>

	<Target Name="RestoreOnline" AfterTargets="AfterPublish">
		<Message Text="Restoring application online" Importance="high" />
		<Delete Files="$(publishUrl)\wwwroot\_framework\blazor.webassembly.js" />
		<Delete Files="$(publishUrl)\wwwroot\_framework\blazor.webassembly.js.br" />
		<Delete Files="$(publishUrl)\wwwroot\_framework\blazor.webassembly.js.gz" />    
		<Copy SourceFiles="$(publishUrl)\wwwroot\_PublishAssets\InstallingLoader\blazor.webassembly.js" DestinationFolder="$(publishUrl)\wwwroot\_framework" />
		<Copy SourceFiles="$(publishUrl)\wwwroot\_PublishAssets\InstallingLoader\blazor.webassembly.js.br" DestinationFolder="$(publishUrl)\wwwroot\_framework" />
		<Copy SourceFiles="$(publishUrl)\wwwroot\_PublishAssets\InstallingLoader\blazor.webassembly.js.gz" DestinationFolder="$(publishUrl)\wwwroot\_framework" />
		<Copy SourceFiles="$(publishUrl)\wwwroot\_PublishAssets\InstallingLoader\blazor.webassembly.txt" DestinationFolder="$(publishUrl)\wwwroot\_framework" />
	</Target>
</Project>