.no-books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.no-book-image {
    margin: auto;
}

.books-container {
    margin-top: 2.5rem;
}

.no-book-found-text {
    font-weight: bold;
    font-size: 22px;
}