@page "/books"
@page "/books/{CategoryId:int}"
@page "/books/{CategoryId:int}/{CategoryTitle}"

@if (_books == null)
{
    <Loading />
}
else if (_books.Count == 0)
{
    <div class="no-books-container">
        <div class="row">
            <img class="col-12 no-book-image" src="/images/components/no-book-found.jpg" />
            <h6 class="col-12 no-book-found-text">هیچ کتابی یافت نشد</h6>
        </div>
    </div>
}
else
{
    <div class="row books-container">

        @foreach (var book in _books)
        {
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <Book BookDto="@book" @key="@book.Id" />
            </div>
        }

    </div>
}