@page "/book-detail/{BookId:int}"
@page "/book-detail/{BookId:int}/{BookTitle}"

@if (_book == null)
{
    <Loading />
}
else
{
    <div class="book-wrapper">
        <img src="@_coverImageUrl" />

        <h3 class="book-title">
            @_book.Title
        </h3>

        <h6> مولف: @_book.Author </h6>


        @*<button type="button" class="btn btn-primary" @onclick="ShowBook"> مشاهده</button>*@

        <button type="button" class="btn btn-primary download-button" @onclick="DownloadBook">
            @($"Download ({_book.BookSizeToDisplay})")
        </button>
    </div>

}