
.form-wrapper {
    width: 60%;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 30px;
}
.form-wrapper .form .form-check {
    padding: 20px 20px 0 0;
}
.cover-preview-image-wrapper {
    margin: 1rem auto;
}

.form-text {
    font-size: 0.75em;
}

.img-uploading {
    width: 3.5rem;
    margin-left: 0.5rem;
    margin-top: -3px;
    margin-bottom: 4px;
}

.uploading-progress-wrapper {
    direction: ltr;
    margin-bottom: 1rem;
    margin-top: 1em;
}

.img-check {
    width: 2.5rem;
    margin-left: 0.5rem;
    margin-top: -3px;
    margin-bottom: 4px;
}


#UploaderButton {
    background-color: #eeeeee !important;
    height: 38px !important;
    padding: .6rem 1rem !important;
    border-radius: 2px !important;
    color: black !important;
    margin-bottom: 9px !important;
}

.devexp-uploader-wrapper {
    direction:ltr;
}

.uploader-form-title {
    width: 100%;
    margin-bottom: 4px;
}