@page "/categories"

<Title Value="مدیریت دسته‌ها"></Title>

@if (_categories == null)
{
    <Loading />
}
else
{
    <div class="add-category-wrapper">
        <button class="btn btn-primary" @onclick="OnAddCategory">
            <i class="fa fa-plus add-category-icon"></i>
            افزودن دسته
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>شناسه</th>
                <th>نام دسته</th>
                <th>نقش مدیر </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in _categories)
            {
                <tr @key="category">
                    <td>@category.Id</td>
                    <td>@category.CategoryName</td>
                    <td>@category.AdminRole</td>

                    <td>
                        <button class="btn btn-light" @onclick="() => OnEditCategory(category)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-light" @onclick="() => OnDeleteCategory(category)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}