.add-category-wrapper {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 1em;
}

.add-category-icon {
    vertical-align: middle;
}

.categories-table td {
    vertical-align: middle;
}

.edit-delete-buttons-wrapper {
    text-align: center
}