@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div style="position:absolute; top:30vh; width:100%; text-align:center">
    <h1 style="font-weight: bold">کتابخانه‌ی مجازی آتا</h1>
    <p>
        <img src="images/loading.gif" />
        برنامه در حال بارگذاری می‌باشد ...
    </p>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
