@page "/"

@inject NavigationManager NavigationManager

@layout EmptyLayout

<Title Value="کتابخانه‌ی مجازی آتا"></Title>

<Loading />

@code {

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/books", true);
    }

}